{block content}

<h1>Thank you</h1>

<ul class="list-group">
    <li class="list-group-item">{$item}</li>
    <li class="list-group-item">{$price}</li>
    <li class="list-group-item">{$date}</li>
</ul>